.git/objects/pack/pack-9a65ebdef9bfbf64bcdae122081ebfddbca23623.pack
.Rhistory*
.Rproj.user
.Rproj.user*
## Files to Ignore
Data/2000_t2m.grib
Data/2000_t2m.nc
Data/2001_t2m.grib
Data/2001_t2m.nc
Data/2002_t2m.grib
Data/2002_t2m.nc
Data/2003_t2m.grib
Data/2003_t2m.nc
Data/2004_t2m.grib
Data/2004_t2m.nc
Data/2005_t2m.grib
Data/2005_t2m.nc
Data/2006_t2m.grib
Data/2006_t2m.nc
Data/2007_t2m.grib
Data/2007_t2m.nc
Data/2008_t2m.grib
Data/2008_t2m.nc
Data/2009_t2m.grib
Data/2009_t2m.nc
Data/2021_t2m.nc
Data/2022_t2m.nc
Data/2024_t2m.nc
Data/2025_t2m.nc
Data/Archived/2000_t2m.grib
Data/Archived/2001_t2m.grib
Data/Archived/2002_t2m.grib
Data/Archived/2003_t2m.grib
Data/Archived/2004_t2m.grib
Data/Archived/2005_t2m.grib
Data/Archived/2006_t2m.grib
Data/Archived/2007_t2m.grib
Data/Archived/2008_t2m.grib
Data/Archived/2009_t2m.grib
Data/era5land_municipality_t2m_2000_2020.csv.xz
Data/era5land_municipality_t2m_2000_2024.csv.xz
Data/era5land_municipality_t2m_2000_2025.csv.xz
